body {
    background-color: rgb(148, 78, 214);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    padding: 25px;
}

section {
    background-color: rgb(92, 126, 230);
    border-radius: 20px;
    padding: 10px;
}

header, section, div#detalhe, footer {
    text-align: center;
}

input {
    background-color: rgb(148, 78, 214);
    border: none;
    padding: 5px;
    color: white;
    border-radius: 10px;
}